<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>DASHBOARD | Server-Status</title>
    <!--    &lt;!&ndash; Favicon&ndash;&gt;
        <link rel="icon" href="favicon.ico" th:href="${resource}" type="image/x-icon">-->
    <!---->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../static/plugins/bootstrap/css/bootstrap.css" th:href="@{/static/plugins/bootstrap/css/bootstrap.css}"
          rel="stylesheet">
    <!-- Animation Css -->
    <link href="../static/plugins/animate-css/animate.css" rel="stylesheet"
          th:href="@{/static/plugins/animate-css/animate.css}"/>


    <!-- Custom Css -->
    <link href="../static/asserts/css/style.css" th:href="@{/static/asserts/css/style.css}" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../static/asserts/css/themes/all-themes.css" th:href="@{/static/asserts/css/themes/all-themes.css}"
          rel="stylesheet"/>
</head>

<body class="theme-black">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
               data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="/server-status/server-status.main/templates/home.html" th:href="@{/home}">Server-Status</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://www.baidu.com" th:href="@{/exit}"><i class="material-icons">input</i></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="active">
                    <a href="/server-status/server-status.main/templates/home.html" th:href="@{/home}">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/server-status/server-status.main/templates/moreDetails.html" th:href="@{/moreDetails}">
                        <i class="material-icons">text_fields</i>
                        <span>More Details</span>
                    </a>
                </li>
                <li>
                    <a href="/server-status/server-status.main/templates/graph.html" th:href="@{/graph}">
                        <i class="material-icons">show_chart</i>
                        <span>Graph</span>
                    </a>
                </li>
                <li>
                    <a href="/server-status/server-status.main/templates/settings.html" th:href="@{/settings}">
                        <i class="material-icons">settings_applications</i>
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a href="/server-status/server-status.main/templates/schedule.html" th:href="@{/schedule}">
                        <i class="material-icons">schedule</i>
                        <span>Schedule</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/XieTTT/ServerStatus">
                        <i class="material-icons">star</i>
                        <span>Star</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2019 - 2020 <a href="javascript:void(0);">Server-Status</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->

</section>

<section class="content">

    <!-- CPU Usage -->
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="header">
                    <div class="row clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <h2>CPU USAGE (%)
                                <small>The last hour CPU usage</small>
                            </h2>
                        </div>
                        <div class="col-xs-12 col-sm-6 align-right">

                        </div>
                    </div>
                    <ul class="header-dropdown m-r--5">
                    </ul>
                </div>
                <div class="body">
                    <div id="real_time_chart" class="dashboard-flot-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# CPU Usage -->

    <!-- Striped Rows -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        System Process
                        <small>Sorted By: [[${processSortedByCPU.get(0).getOrderBy()}]]</small>
                    </h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th># PID</th>
                            <th>CPU</th>
                            <th>MEN</th>
                            <th>VSZ</th>
                            <th>RSS</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="proCPU:${processSortedByCPU}">
                            <th scope="row" th:text="${proCPU.getPID()}"></th>
                            <td th:text="${proCPU.getCPU()}">CPU</td>
                            <td th:text="${proCPU.getMEN()}">MEN</td>
                            <td th:text="${proCPU.getVSZ()}">VSZ</td>
                            <td th:text="${proCPU.getRSS()}">RSS</td>
                            <td th:text="${proCPU.getName()}">Name</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Striped Rows -->
    <!-- Striped Rows -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        System Process
                        <small>Sorted By: [[${processSortedByMEN.get(0).getOrderBy()}]]</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th># PID</th>
                            <th>CPU</th>
                            <th>MEN</th>
                            <th>VSZ</th>
                            <th>RSS</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="proCPU:${processSortedByMEN}">
                            <th scope="row" th:text="${proCPU.getPID()}"></th>
                            <td th:text="${proCPU.getCPU()}">CPU</td>
                            <td th:text="${proCPU.getMEN()}">MEN</td>
                            <td th:text="${proCPU.getVSZ()}">VSZ</td>
                            <td th:text="${proCPU.getRSS()}">RSS</td>
                            <td th:text="${proCPU.getName()}">Name</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Striped Rows -->
</section>

<!-- Jquery Core Js -->
<script src="../static/plugins/jquery/jquery.min.js" th:src="@{/static/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap Core Js -->
<script src="../static/plugins/bootstrap/js/bootstrap.js"
        th:src="@{/static/plugins/bootstrap/js/bootstrap.js}"></script>
<!-- Waves Effect Plugin Js -->
<script src="../static/plugins/node-waves/waves.js" th:src="@{/static/plugins/node-waves/waves.js}"></script>

<!-- Flot Charts Plugin Js -->
<script src="../static/plugins/flot-charts/jquery.flot.js"
        th:src="@{/static/plugins/flot-charts/jquery.flot.js}"></script>
<script src="../static/plugins/flot-charts/jquery.flot.resize.js"
        th:src="@{/static/plugins/flot-charts/jquery.flot.resize.js}"></script>

<!-- Custom Js -->
<script src="../static/asserts/js/admin.js" th:src="@{/static/asserts/js/admin.js}"></script>

<!-- Demo Js -->
<script src="../static/asserts/js/demo.js" th:src="@{/static/asserts/js/demo.js}"></script>

<script th:inline="javascript">
    //Real time ==========================================================================================
    const plot = $.plot('#real_time_chart', [ /*[[${cpuLoadArray}]]*/[[0.0, 25], [1.0, 27], [2, 35], [3, 19], [4, 15]]], {
        series: {
            shadowSize: 0,
            color: 'rgb(0, 188, 212)'
        },
        grid: {
            borderColor: '#f3f3f3',
            borderWidth: 1,
            tickColor: '#f3f3f3'
        },
        lines: {
            fill: true
        },
        yaxis: {
            min: 0,
            max: 100
        },
        xaxis: {
            min: 0,
            max: 60


        }
    });

    //=========================================================================================
</script>

</body>

</html>
